 .gam{
 	width: 100%;
 	height: 300px;
 }
 .navigator{
 	display: flex;
 	background-color: black;
 	height: 50px;
 }
 .menu{
 	color: white;
 	font-family: arial;
 	flex: 1;
}
 .menu ul{
 	display: flex;
 	list-style-type: none;
 	float: left;
 }
 .menu li{
 	margin-right: 40px;
 }
 .menu a{
 	text-decoration: none;
 	color: #76D7C4;
 }
 .menu a:hover{
 	text-decoration: underline;
 }
 .web{
 	color: #76D7C4 ;
 	font-family: algerian;
 	font-size: 20px;
 	margin-right: 50px;
 }
 .main{
 	display: flex;
 	background-color: #76D7C4 ;
 	height: 100vh;
 }
 .kiri{
 	width: 300px;
 	background-color: #1E8449 ;
 }
 .aku{
 	width: 150px;
 	height: 300px;
 	margin-left: 60px;
 }
 .profile{
 	margin-top: 10px;
 	margin-left: 40px;
 }
 .kanan{
 	flex: 1;
 	margin-top: 70px;
 	margin-left: 20px;
 }
 .footer{
 	background-color: #76D7C4;
 }
 .rendang{
 	width: 100px;
 	height: 100px;
 }
 .bakar{
 	width: 100px;
 	height: 100px;
 }
 .kambing{
 	width: 100px;
 	height: 100px;
 }