.one{
	
	display: flex;
	color: black;
}
.img1{
	width: 50px;
	height: 50px;
	display: flex;
}
.one ul{
	display: flex;
	list-style: none;
}
.one li{
	margin-right: 10px;
	margin-left: 10px;
}
.one a{
	text-decoration: none;
	color: black;
}
.one a:hover{
	text-decoration: underline;
}
.img2{
	width: 100%;
	height: 60%;
}
.img3{
	width: 300px;
	height: 370px;
	margin-left: 150px;
	margin-top: 30px;
}
.head{

	display: flex;
	background-color: #82E0AA ;
	height: 600px;
}
.kiri{
	flex: 1;
}
.kiri h1{
	margin-left: 150px;
	margin-top: 50px;
}
.kanan{
	flex: 1;
	margin-top: 230px;
}
.footer{
	margin-top: 50px;
	font-family: times new roman;
	font-size: 16px;
	height: 30px;
	background-color: black;
	color: white;
}
.perca{
	margin-top: 130px;
	margin-left: 50px;
	height: 200px;	
}
.perlu{
	margin-top: 30px;
	margin-left: 200px;
	height: 150px;
}
.header{
	background-color: #82E0AA;
}
.from1{
	background-color: #82E0AA;
}
.kel{
	margin-top: 100px;
	margin-left: 150px;
	height: 345px;
}

.buk{
	margin-top: 80px;

}
.from2 center{
	margin-top: 50px;
}
.hitung center{
	margin-top: 80px;
}